*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: rgba(154, 206, 255, 0.755);
    margin: 8px;
}

h1{
    background-color: rgba(255, 179, 80, 0.76);
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
    border-radius: 7%;
}

.choice{
    height: 170x;
    width: 170px;
    border-radius: 27%;
    
}
.choice:hover{
    cursor: pointer;
    width: 145px;
    height: 145px;
    transition: .27s;
    opacity: 70%;
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 27%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.scoreBoard{
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
    gap: 10rem;
    margin: 2rem;
}

#userScore, #botScore{
    font-size: 50px;
}

#res{
    background-color: rgb(0, 53, 100);
    font-size: 2rem;
    justify-content: center;
    color: rgb(255, 204, 136);
    display: inline-flex;
    padding: 1rem;
    border-radius: 20%;
}

#bot{
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    width: 160px;
    border: 2px solid black;
    border-radius: 50%;

}
#p{
    font-size: 27px;
    padding: 5px;
}
.bg{
    
    
    
    
}
